
{{ form_errors(form) }}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.name) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.sharedBasket) }}
        </div>
    </div>
</div>
